@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;
  --foreground: #383838;
  --font-manrope: 'Manrope', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-manrope);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gradient-text {
  background: linear-gradient(90deg, #FF43A9 0%, #FFA873 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  

}



@media screen and (min-width: 1024px) {
  .lg-border-gradient {
    border: 1px solid;
    border-image-source: linear-gradient(90deg, #FF43A9 0%, #FFA873 100%);
    border-image-slice: 1;
  }
}


