@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;
  --foreground: #383838;
  --font-manrope: 'Manrope', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-manrope);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
